.movie-card {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Images/Vader.jpg");
  background-blend-mode: saturation;
  background-size: 100% 100%;
  background-color: #5C5E5F;
  background-blend-mode: screen, difference, darken;
  box-shadow: 8px 8px 30px white;
  display: flex;
  flex-direction: column;
  height: 150px;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  width: 200px;
}

.movie-card:hover {
  box-shadow: 0 0 10px grey;
}

h1 {
  font-size: 20px;
}

h2 {
  color: white;
  font-size: 20px;
}

button {
  margin-top: 10px;
}

button:hover {
  background-color: #5C5E5F;
  color: white;
}
