.userdata-component {
  align-items: center;
  color: #5C5E5F;
  display: flex;
  height: 11%;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.users-data {
  font-size: 18px;
  margin-left: 20px;
  overflow-x: scroll;
  text-align: left;
  width: 30%;
}

.quotation-value {
   white-space: nowrap;
}

.btns-container {
  align-items: center;
  color: #5ae273;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  width: 340px;
}

.menu-btn:hover {
  background-color: #5C5E5F;
  color: white;
}

.user-values {
  color: white;
}

#show__favorites--btn {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, .5, .5, 0)), url("../../Images/Favorites.jpg");
  background-size: 159px 50px;
  background-color: #2b2828;
  background-blend-mode: screen, lighten;
  border-radius: 400px;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px #5C5E5F;
  color: #5C5E5F;
  font-size: 18px;
  height: 50px;
  text-align: left;
  width: 160px;
}

#show__favorites--btn:hover {
  background-color: #5C5E5F;
  color: white;
}

.log-out {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, .5, .5, .5)), url("../../Images/Sign-out.jpg");
  background-size: 100% 100%;
  background-color: black;
  background-blend-mode: difference, darken;
  border-radius: 400px;
  box-shadow: 0 0 5px #5C5E5F;
  color: #5C5E5F;
  font-size: 18px;
  height: 50px;
  text-align: left;
  width: 170px;
}
