 .scroll-section {
  background: 100%;
  bottom: 0px;
  height: 16%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.scrolling-container {
  background: black;
  color: yellow;
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 700px;
  position: relative;
  text-align: justify;

}

h4 {
  font-size: 400%;
  margin-bottom: 40px;
  text-align: center;
}

.scrolling-content {
  animation: scrollAnimation 80s linear;
  font-size: 400%;
  position: relative;
  top: -9999px;
  transform-origin: 50% 100%;
}

@keyframes scrollAnimation {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
