.login-home {
  background-color: #8B837B;
  border: 1px solid #5ae273;
  border-radius: 400px;
  height: 50%;
  width: 360px;
}

.form-container {
  display: flex;
  height: 350px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 20px;
}

h2 {
  color: #5ae273;
  font-size: 20px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-around;
}

input {
  font-size: 20px;
  height: 20px;
  text-indent: 2px;
  width: 150px;
}

textarea {
  font-size: 20px;
  height: 40px;
  text-indent: 2px;
  width: 150px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

select {
  font-size: 15px;
  height: 25px;
  width: 120px;
}

button {
  height: 40px;
}

button:hover {
  background-color: #776D77;
  border: .1px solid #5ae273;
}
